/* External Styles */

p {
  color: black;
  font-size: 30px;
}

nav {
  font-family: sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: red;
}

div #btn {
}

.section .para {
  background-color: red;
}

.para#paragraph1 {
  background-color: gold;
}
a[href="https://www.youtube.com"]
{
  background-color: red;
}
/* a[href*="google"] {
  background-color: gold;
} */

img[src*="dog"] {
}

/* a[href$=".com"] {
  background-color: blue;
} */

a[href^="https"] {
  background-color: brown;
}

#products {
  background-color: aquamarine;
}

#product {
  background-color: beige;
}

#products ~ p {
  background-color: blue;
}

/* Pseudo Class Selectors */
.article p:last-of-type {
  background-color: red;
  font-size: 50px;
}

/* Pseudo Element Selectors */

*::selection {
  background-color: red;
  color: black;
}

#article-para1 {
  color: black;
}

#article-para1::first-letter {
  color: black;
  font-size: 40px;
}

#article-para1::after {
  content: "Read this -";
  background-color: yellow;
  color: red;
  font-weight: bold;
}

.boxes {
  display: flex;
}

/* Colors and Gradients */

.box {
  width: 50%;
  height: 100px;
  background-color: rgba(255, 0, 0, 0.5);
}

.section {
  background: radial-gradient(circle at top right, yellow, red, blue);
  height: 50vh;
}

.circle {
  width: 100px;
  height: 100px;
  /* Color Name */
  /* background-color: red; */

  /* Color by using rgb(255, 255, 255); */
  /* background-color: rgb(255, 0, 0); */

  /* Color by using rgba(255, 255, 255, 1); */
  /* background-color: rgba(255, 0, 0, 1); */

  /* Color by usingg hexadecimal from 0 to f */
  background: #ff0000;

  border-radius: 50%;
}

/* Borders */
.border-section {
  height: 200px;
  width: 200px;
  background-color: gold;
  margin: 20px;
  border: 20px dashed red;
  border-color: blue;
  border-width: 5px;
  border-style: dotted;
  border-radius: 100%;
  box-shadow: 10px 10px;
}

.box-shadow {
  width: 200px;
  height: 200px;
  background-color: gold;
  margin: 30px;
  box-shadow: 10px 10px 5px gray;
}

.box-shadow p {
  text-shadow: 2px 2px 5px gray;
}
